@charset "utf-8";

/* 全体 */
body {
  margin: 0;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: #333333;
  background-color: #f1f1f1;
}

/* トップ画面 */
.p-topWrap {
  padding: 10% 0;
  background-image: url(img/top.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  width: 100%;
}
.p-topTitle,
.p-topProfile {
  color: #f1f1f1;
}
.p-topTitle {
  font-size: 3.4rem;
}
.p-topProfile {
  margin: 5px 0;
  font-size: 1.4rem;
}
.p-topProfileWrap {
  background-color: rgba(51, 51, 51, 0.5);
}

/* 活動内容 */
.p-worksWrap {
  padding: 5% 0;
}
.p-worksTitle {
  text-align: center;
  font-size: 2.8rem;
}
.p-workWrap {
  display: inline-block;
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 300px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}
.p-workImage_programming,
.p-workImage_electronicWork,
.p-workImage_touring,
.p-workImage_camp
 {
  border-radius:5px 5px 0 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 190px;
}
.p-workImage_programming {
  background-image: url(img/code.jpg);
}
.p-workImage_electronicWork {
  background-image: url(img/wbr.jpg);
}
.p-workImage_touring {
  background-image: url(img/touring.jpg);
}
.p-workImage_camp {
  background-image: url(img/camp.jpg);
}

.p-workTitle {
  text-align: center;
  width: 90%;
  font-size: 2rem;
  margin: 15px auto 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px #d1d1d1;
}
.p-workDescription {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

/* お問合せ(フッター) */
.p-contactWrap {
  padding: 5% 0;
  position: relative;
  overflow: hidden;
}
.p-contactWrap:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  background-color: #c8ab37;
  transform-origin: right center;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  z-index: -1;
}
.p-contactBlock {
  text-align: right;
}
.p-contactBatches {
  margin: 10px 0;
}
.p-contactBatch_link {
  width: 32px;
  margin: 0 4px;
}
.p-contactBatch_image {
  width: 32px;
}
.p-contactEmail,
.p-contactCopyright {
  color: #ffffff;
}
.p-contactEmail {
  text-decoration: underline;
  -webkit-text-decoration: underline;
  margin: 10px 0 5px;
}
a.p-contactEmail:link,
a.p-contactEmail:visited,
a.p-contactEmail:hover,
a.p-contactEmail:active{
  color: #ffffff;
}
.p-contactCopyright {
  margin: 5px 0;
}
